/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.demo-page1-hide {
    display: none;
}

.demo-page2-hide {
    display: none;
}