<div class="oj-flex oj-sm-flex-direction-column oj-sm-justify-content-center oj-hybrid-padding"
  data-bind="visible: !$parent.isLoggedIn()">
  <div
    class="oj-flex oj-flex-item oj-sm-flex-direction-column oj-md-flex-direction-col oj-sm-justify-content-center oj-sm-align-items-center">

    <div class="oj-flex-item">
      <label for="username">Username</label>
      <input
        id="username"
        required="true"
        type="text"
        data-bind="ojComponent: {
                    component: 'ojInputText', 
                    value: username,
                    invalidComponentTracker: tracker}" />
    </div>
    <div class="oj-flex-item">
      <label for="password">Password</label>
      <input
        id="password"
        required="true"
        type="password"
        data-bind="ojComponent: {
                    component: 'ojInputPassword', 
                    value: password,
                    invalidComponentTracker: tracker}" />
    </div>

    <div class="oj-flex-item">
      <input id="inputButton" type="button"
        data-bind="click: login, ojComponent: {component: 'ojButton', label: 'Login', chroming: 'full'}" />
    </div>
  </div>
</div>